.NavigationListItem {
    padding: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    span {
        color: #bab5ab;
        cursor: pointer;
        text-decoration: none;
        padding: 0.4em;
        &:hover,
        &:active {
            border-bottom: 1px solid #bab5ab;
        }
    }
}

@media (min-width: 576px) {
    .NavigationListItem {
        border-top: initial;
    }
}
