.NavigationListItem {
    padding: 1em;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    span {
        color: #f0f0f0;
        cursor: pointer;
        text-decoration: none;
        padding: 0.4em;
        transition: color 0.4s ease-in;
        &:hover,
        &:active {
            color: #bab5ab;
        }
    }
}

.active {
    color: #bab5ab !important;
    border-bottom: 1.5px solid #bab5ab;
}

@media (min-width: 576px) {
    .NavigationListItem {
        border-top: initial;
    }
}
