.Carousel {
    height: 300px;
    width: 100%;
    position: relative;
    border-bottom: 2px solid black;
}

.Prev,
.Next {
    display: inline-flex;
    padding: 0.5em 0.75em;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    border: 0;
    margin-top: -50px;
    font-size: 18px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    user-select: none;
    -webkit-user-select: none;
    path {
        color: white;
    }
}

.CarouselSlideWrapper {
    display: flex;
    height: 100%;
}

.Prev {
    left: 0;
}

.Next {
    right: 0;
}

.Prev:hover,
.Next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@media (min-width: 450px) {
    .Carousel {
        height: 330px;
    }
}

@media (min-width: 650px) {
    .Carousel {
        height: 360px;
    }
}

@media (min-width: 850px) {
    .Carousel {
        height: 400px;
    }
}
