.Section {
    padding: 5em 0;
    .h1 {
        position: relative;
        font-size: 2.2em;
        font-weight: bold;
        // dark
        //color: rgb(206, 203, 195);
        color: #484848;
        text-align: center;
    }
}

.AnimateZoomIn {
    animation: zoomIn 0.8s;
    animation-fill-mode: forwards;
}

.AnimateUnderline {
    animation-delay: 0.4s !important;
}

@keyframes zoomIn {
    from {
        opacity: 0;
        transform: scale(2);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.AnimateSlideInLeft {
    animation: slideInLeft 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-400px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.AnimateSlideInRight {
    animation: slideInRight 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(400px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.SectionUnderline {
    // dark
    //border-bottom: 0.3em solid rgb(206, 203, 195);
    border-bottom: 0.3em solid #484848;
    width: 4em;
    margin: auto auto 3em;
    opacity: 0;
}
