.img {
    max-height: 17em;
    max-width: 14em;
    -webkit-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 1px 1px 9px 1px rgba(0, 0, 0, 0.4);
}

.article {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin: auto;
    max-width: 26em;
    h3 {
        margin-bottom: 1em;
    }
    p {
        text-align: justify;
        font-family: 'Roboto', sans-serif;
    }
}

.link {
    position: relative;
    transition: 0.5s color ease;
    text-decoration: none;
    color: #f7c530;
    &:hover {
        color: black;
        &::after {
            width: 101%;
        }
    }
    &::after {
        left: 0;
        height: 0.2rem;
        width: 0;
        background: #f7c530;
        bottom: -0.25em;
        content: '';
        transition: 0.5s all ease;
        backface-visibility: hidden;
        position: absolute;
    }
}

.AnimateArticle {
    animation: slideInLeft 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.AnimateFigure {
    animation: slideInRight 0.8s;
    animation-fill-mode: forwards;
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@media (min-width: 1200px) {
    .Figure {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 325px) {
    .Figure {
        margin: 0;
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    .article {
        p {
            text-align: left;
        }
    }
}
