// Contains global styles

.container,
.container-fluid {
    @extend %padding-15;
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

[class^='col'] {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}

.header-bg-color {
    // Dark color
    //background-color: #0c0c0c;
    //background-color: rgba(0, 0, 0, 0.95);
    background-color: #1b242f;
}

@include generate-col(null);

.opaque {
    opacity: 0;
}

/* Media queries */

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
    @include generate-col('-sm');
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
    @include generate-col('-md');
}

@media (min-width: 900px) {
    .container {
        max-width: 870px;
    }
    @include generate-col('-lg');
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    @include generate-col('-xl');
}
