$skill-block-padding: 0.3em;

.Skill {
    display: flex;
    margin-bottom: 0.4em;
    flex-direction: column;
}

.SkillAttr {
    display: flex;
    width: 100%;
    font-size: small;
    padding: $skill-block-padding;
    justify-content: space-between;
}

.SkillProgress {
    // dark
    //background-color: rgb(206, 203, 195);
    //background-color: #e8e8e8;
    background-color: white;
    width: 100%;
}

.SkillProgressBar {
    background-color: #515151;
    padding: 2px;
}
