$skill-block-padding: 0.3em;

.Skill {
    display: flex;
    margin-bottom: 0.4em;
    flex-direction: column;
}

.SkillAttr {
    display: flex;
    width: 100%;
    font-size: small;
    padding: $skill-block-padding;
    justify-content: space-between;
}

.SkillProgress {
    padding: 1px;
    background-color: #e8e8e8;
    width: 100%;
}

.SkillProgressBar {
    background-color: #000;
    padding: 1px;
}
