.AboutSpace {
    display: flex;
    align-items: center;
    justify-content: unset;
    flex-direction: column;
    flex-wrap: wrap;
}

.AboutSkill {
    margin: auto;
}

@media (min-width: 600px) and (max-width: 1199px) {
    .AboutSpace {
        justify-content: space-around;
        flex-direction: row;
    }
}

@media (min-width: 1200px) {
    .AboutSpace {
        flex-direction: row;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .AboutSpace {
        margin: auto;
    }
}
