.Project {
    justify-content: center;
    align-items: center;
    display: flex;
}

.ProjectImg {
    width: 400px;
    height: 300px;
    opacity: 0.8;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}
