.Project {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 0.1em;
    transform: translateY(8em);
    opacity: 0;
    overflow: hidden;
    &:hover,
    &:active,
    &:focus {
        .ProjectInfo {
            animation: dropNBounce 0.5s;
            animation-fill-mode: forwards;
            opacity: 1;
            z-index: 1;
        }
        .ProjectImg {
            z-index: 0;
            opacity: 0.2;
        }
    }
}

.Button {
    padding: 0.5em 1em;
    font-size: 16px;
    //color: #33444e;
    color: rgba(27, 36, 47, 0.5);
    text-transform: uppercase;
    border: 2px solid rgba(27, 36, 47, 0.5);
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    bottom: 24%;
    transition: background-color 0.1s linear, color 0.1s linear;
    &:hover {
        color: #ffffff;
        background-color: rgba(27, 36, 47, 0.9);
    }
}

.ProjectInfo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
    transform: translateY(-100%);
}

.Title {
    position: absolute;
    top: 25%;
    color: #33444e;
    text-transform: uppercase;
}

.Technologies {
    position: absolute;
    bottom: 60%;
    font-size: 18px;
    color: #edb200;
    //color: #D2B48C;
    //color: #c69400;
}

.p0 {
    padding: 0;
}

.ProjectImg {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    //border: 1px solid rgba(0, 0, 0, 0.05);
    //box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
    transition: opacity 0.5s;
}

.Animate {
    animation: slideUp 1s;
    animation-fill-mode: forwards;
}

.AnimateLate {
    animation-delay: 0.1s;
}

@keyframes dropNBounce {
    0% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(0);
    }
    64% {
        transform: translateY(-10%);
    }
    85% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(8em);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width: 575px) {
    .Title {
        position: initial;
    }
    .Technologies {
        position: initial;
        margin-bottom: calc(3em + (40 - 1.5) * ((100vw - 250px) / (500 - 250)));
    }
    .Button {
        position: initial;
    }
}

@media (min-width: 992px) {
    .ProjectFlexStart {
        justify-content: flex-start;
    }

    .ProjectImg {
        width: 100%;
    }

    .ProjectFlexEnd {
        justify-content: flex-end;
    }
}
