.Project {
    justify-content: center;
    align-items: center;
    display: flex;
    margin-bottom: 1.5em;
}

.ProjectImg {
    max-width: 100vw;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
}

@media (min-width: 425px) {
    .ProjectImg {
        width: 80%;
    }
}

@media (min-width: 900px) {
    .ProjectFlexStart {
        justify-content: flex-start;
    }

    .Project {
        height: 20em;
    }

    .ProjectImg {
        width: 100%;
    }

    .ProjectFlexEnd {
        justify-content: flex-end;
    }
}
