.SocialLinks {
    margin: 0 0.75em;
    width: 35px;
    height: 35px;
}

.IconsBox {
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0.5em;
    display: flex;
    transform: rotate(-45deg);
}

.Icons {
    transform: rotate(45deg);
    margin: auto;
}

@media (min-width: 768px) {
    .SocialLinks {
        margin: 0 1.25em;
    }
}

@media (min-width: 992px) {
    .IconsBox {
        font-size: large;
    }
}
