%text-color {
    color: #f5f5dc;
}

%text-font-size {
    font-size: calc(20px + (46 - 10) * ((100vw - 250px) / (1600 - 250)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 250px) / (1600 - 250)));
}

%text {
    @extend %text-color;
    margin-bottom: 0.5em;
    letter-spacing: 1px;
    text-align: center;
    z-index: 101;
    font-family: 'Cormorant Garamond', serif;
}

.Home {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.Particles {
    z-index: 100;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, rgb(45, 54, 76) 0%, rgb(37, 45, 63) 100%);
    position: absolute;
    top: 0;
}

.BannerBlock {
    display: flex;
    align-items: center;
    margin-top: 30vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    h1 {
        margin-bottom: 1em;
    }
}

.HeaderLine {
    @extend %text;
    font-size: calc(14px + (46 - 14) * ((100vw - 250px) / (1600 - 250)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 250px) / (1600 - 250)));
    strong {
        color: #ff7f50 !important;
    }
    position: relative;
    top: -2em;
    will-change: top;
    transition: top 1s;
}

.BannerText {
    @extend %text;
    @extend %text-font-size;
    //display: block;
    max-width: 70vw;
    > span {
        > i {
            @extend %text-color;
            @extend %text-font-size;
        }
        > b {
            @extend %text-color;
            @extend %text-font-size;
        }
        @extend %text-color;
        @extend %text-font-size;
    }
}

.Animate {
    top: 0;
}
//
//@keyframes dropDown {
//    from {
//        opacity: 0;
//        transform: translateY(-1em);
//    }
//    to {
//        opacity: 1;
//        transform: translateY(0);
//    }
//}

@media (min-width: 500px) {
    .HeaderLine {
        display: initial;
    }
}

@media (max-width: 264px) {
    .HeaderLine {
        font-size: 18px;
    }
}
