.Contact {
    margin: auto;
    min-width: 90%;
    display: flex;
    flex-direction: column;
}

.ContactFields {
    width: 100%;
    display: block;
    background-color: #fff;
    font-family: system-ui, serif;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #777;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
    margin: 1px;
    &:hover {
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.ContactFields:focus {
    color: #111;
    border-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    outline: none;
}

.btn {
    color: #fff;
    background: rgba(34, 34, 34, 0.9);
    border: 2px solid transparent;
    border-radius: 2px;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn:hover,
.btn:focus {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    background: rgba(0, 0, 0, 0.7);
    text-decoration: none;
    outline: none;
    border-color: transparent;
}

.btn:focus {
    background: rgba(0, 0, 0, 0.8);
}

.btn:active {
    outline: none;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
}

.textarea {
    min-height: 150px;
}

@media (min-width: 600px) {
    .Contact {
        min-width: 500px;
    }
}
