.Contact {
    margin: auto;
    min-width: 90%;
    display: flex;
    flex-direction: column;
}

.ContactFields {
    width: 100%;
    display: block;
    background-color: #fff;
    font-family: system-ui, serif;
    padding: 10px 15px;
    box-sizing: border-box;
    color: #777;
    border: 1px solid rgba(102, 102, 102, 0.2);
    font-size: 16px;
    margin: 1px;
    &:hover {
        border-color: rgba(102, 102, 102, 0.4);
    }
    // dark
    //background-color: #17191a;
}

.ContactFields:focus {
    color: rgba(0, 0, 0, 0.8);
    border-color: rgba(102, 102, 102, 0.4);
    box-shadow: 0 0 3px rgba(102, 102, 102, 0.5);
    outline: none;
}

.btn {
    color: #fff;
    // dark
    //background: rgba(1, 1, 1, 0.35);
    background: rgba(27, 36, 47, 0.9);
    border: 2px solid transparent;
    border-radius: 2px;
    margin-left: auto;
    margin-top: 10px;
    padding: 10px 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
    outline: none;
    transition: all 0.2s cubic-bezier(0, 0, 0.58, 1);
}

.btn:hover,
.btn:focus {
    font-weight: 400;
    color: rgba(255, 255, 255, 0.85);
    background: rgba(27, 36, 47, 0.8);
    text-decoration: none;
    outline: none;
    border-color: transparent;
}

.btn:focus {
    background: rgba(0, 0, 0, 0.8);
}

.btn:active {
    outline: none;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.25);
}

.textarea {
    min-height: 150px;
}

.AnimateForm {
    animation-name: popInOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.Delay1 {
    animation-delay: 0.1s;
}

.Delay2 {
    animation-delay: 0.2s;
}

.Delay3 {
    animation-delay: 0.4s;
}

@keyframes popInOut {
    0% {
        opacity: 0;
        transform: scale(0.4);
    }
    80% {
        opacity: 0.7;
        transform: scale(1.05);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media (min-width: 600px) {
    .Contact {
        min-width: 500px;
    }
}
