$close-border-color: rgba(0, 0, 0, 0.6);

.ModalContainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5000;
}

.Modal {
    background-color: white;
    //border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 5000;
    padding: 0;
    transition: all 0.3s ease-out;
    margin: auto;
    max-width: 450px;
    .close {
        display: inline-flex;
        z-index: 5001;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 0 0 0 3px;
        padding: 0.5em;
        path {
            color: white;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

@media (min-width: 650px) {
    .Modal {
        max-width: 600px;
    }
}

@media (min-width: 850px) {
    .Modal {
        max-width: 600px;
    }
}
