$close-border-color: rgba(0, 0, 0, 0.6);

.ModalContainer {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5000;
}

.Modal {
    background-color: white;
    //border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    z-index: 5000;
    padding: 0;
    transition: all 0.3s ease-out;
    margin: auto;
    max-width: 450px;
    .close {
        display: inline-flex;
        z-index: 5001;
        position: absolute;
        cursor: pointer;
        right: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0.5em;
        path {
            color: white;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
    }
}

.Title {
    font-family: 'Cormorant Upright', serif;
}

.About {
    text-transform: uppercase;
    font-family: 'Cormorant Upright', serif;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 1em;
    font-size: calc(1em + (0 - 1.5) * ((100vw - 250px) / (1600 - 250)));
    color: darkgrey;
}

.Description {
    font-family: 'Roboto', sans-serif;
    margin: 1em 0 4em;
    color: #444;
    font-size: calc(1em + (0 - 2) * ((100vw - 250px) / (1600 - 250)));
}

.CarouselInfo {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2em auto auto;
}

@media (min-width: 650px) {
    .Modal {
        max-width: 600px;
    }
}

@media (min-width: 850px) {
    .Modal {
        max-width: 600px;
    }
}
