.Skills {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    h2 {
        text-align: center;
        margin: 3em 1em 1em;
    }
}

@media (min-width: 768px) {
    .Skills {
        h2 {
            margin-top: 2em;
        }
    }
}

@media (min-width: 1200px) {
    .Skills {
        h2 {
            margin-top: 1em;
        }
    }
}
