$footer-height: 180;

.Footer {
    height: (($footer-height) * 1px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.FooterWrapper {
    background-color: #1b242f;
    // dark
    //background-color: #131415;
    //background-color: #f0f0f0;
}

.FooterIconsWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FooterAbout {
    // dark
    color: rgb(186, 181, 171);
    //color: #888;
    font-family: Dosis, arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    font-size: 9px;
}

@media (min-width: 576px) {
    .Footer {
        height: (($footer-height + 50) * 1px);
    }
}

@media (min-width: 768px) {
    .Footer {
        height: (($footer-height + 30) * 1px);
    }
    .FooterAbout {
        font-size: 10px;
    }
}

@media (min-width: 1200px) {
    .Footer {
        height: (($footer-height + 70) * 1px);
    }
}
