.bar1,
.bar2,
.bar3 {
    width: 28px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
}

.bar2 {
    position: relative;
    left: 0;
}

.change.bar1 {
    transform: rotate(45deg) translate(6px, 6px);
}

.change.bar2 {
    opacity: 0;
    left: -30px;
}

.change.bar3 {
    transform: rotate(-45deg) translate(6px, -6px);
}

.HamburgerMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.5em;
    margin: 0.5em 0.5em 0.5em auto;
}

@media (min-width: 576px) {
    .HamburgerMenu {
        display: none;
    }
}
