.NavigationList {
    display: block;
    list-style-type: none;
    padding: 0;
    height: 0;
    text-align: center;
    transition: height 0.2s ease-out;
    overflow: hidden;
    width: 100%;
    top: 3.6em;
    z-index: 1000;
    position: absolute;
}

.OpenNavBar {
    height: 224px;
}

@media (min-width: 576px) {
    .NavigationList {
        position: initial;
        display: flex;
        height: auto;
        width: auto;
    }
}
